{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenidos!</h1>

    <h5>Este es el simulador de red de semaforos, el cual permitirá construr una red interactiva de semaforos inteligentes.
        Los mismos ya pueden ser accedidos como un servicio REST</h5>
    <br>

    <div class="center-align">
    <a href="{{ path('semaforo_index') }}" class="waves-effect waves-light btn"><i class="material-icons left">play_arrow</i>Iniciar Simulación</a>
    </div>
{% endblock %}
