.side-nav {
    background: #252525;
}

.side-nav.fixed a {
    color: white;
}

.side-nav.fixed .logo {
    padding-left: 15px;
    padding-top: 10px;
}

.side-nav.fixed img {
    width:95%;
}

body{
    padding-top: 20px;
    padding-left: 260px;
    padding-right: 20px;
    background-color:#f1f2f1;
}

@media only screen and (max-width : 992px) {
    header, main, footer, body {
        padding-left: 10px;
    }
}